<mat-card>
  <div class="p-6 bg-white border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <mat-card-header class="bg-gray-200 h-15 justify-center">
      <mat-card-title class="!font-extrabold text-[1.5rem]">Catálogo Casos</mat-card-title>
    </mat-card-header>

    <mat-card-content class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false); limpiar();">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtrar - Click para {{ panelOpenState() ? 'cerrar' : 'abrir' }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field>
          <mat-label>ID Caso</mat-label>
          <input matInput #fid id="fid" (keyup)="onFiltroChange({
            id: fid.value,
            nombre_cliente: fnombre.value,
            marca_artefacto: fmarca.value,
            estado_actual: festado.value
          })">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cliente</mat-label>
          <input matInput #fnombre id="fnombre" (keyup)="onFiltroChange({
            id: fid.value,
            nombre_cliente: fnombre.value,
            marca_artefacto: fmarca.value,
            estado_actual: festado.value
          })">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Marca Artefacto</mat-label>
          <input matInput #fmarca id="fmarca" (keyup)="onFiltroChange({
            id: fid.value,
            nombre_cliente: fnombre.value,
            marca_artefacto: fmarca.value,
            estado_actual: festado.value
          })">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Estado</mat-label>
          <input matInput #festado id="festado" (keyup)="onFiltroChange({
            id: fid.value,
            nombre_cliente: fnombre.value,
            marca_artefacto: fmarca.value,
            estado_actual: festado.value
          })">
        </mat-form-field>
      </mat-expansion-panel>

      <table mat-table class="md-flex flex-col" [dataSource]="dataSource()">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID Caso</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
          </ng-container>

          <ng-container matColumnDef="fechaEntrada">
            <th mat-header-cell *matHeaderCellDef>Entrada</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaEntrada }}</td>
          </ng-container>

          <ng-container matColumnDef="fechaSalida">
            <th mat-header-cell *matHeaderCellDef>Salida</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaSalida || '-' }}</td>
          </ng-container>

          <ng-container matColumnDef="nombre_cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre_cliente }} {{ element.apellido1_cliente }}</td>
          </ng-container>

          <ng-container matColumnDef="marca_artefacto">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element">{{ element.marca_artefacto }}</td>
          </ng-container>

          <ng-container matColumnDef="modelo_artefacto">
            <th mat-header-cell *matHeaderCellDef>Modelo</th>
            <td mat-cell *matCellDef="let element">{{ element.modelo_artefacto }}</td>
          </ng-container>

          <ng-container matColumnDef="estado_actual">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">{{ element.estado_actual }}</td>
          </ng-container>

          <ng-container matColumnDef="botonera">
            <th mat-header-cell *matHeaderCellDef class="place-items-center">
              <button mat-icon.button (click)="onNuevo()" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-10 py-0.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <mat-icon>add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="flex content-around">
                <button mat-icon.button (click)="onInfo(element.id)" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
                  <mat-icon>info</mat-icon>
                </button>

                <button mat-icon.button (click)="onEditar(element.id)" class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:focus:ring-yellow-900">
                  <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon.button (click)="onEliminar(element.id)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1 mx-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>
        </thead>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
    </mat-card-content>

    <mat-card-footer class="bg-gray-200 h-15 flex items-center justify-center">
      <button (click)="onImprimir()" mat-button class="!bg-esmerald-700 me-2">
        <mat-icon>print</mat-icon>Imprimir
      </button>
      <button [routerLink]="['/home']" mat-button class="!bg-red me-2">
        <mat-icon>cancel</mat-icon>Cerrar
      </button>
    </mat-card-footer>
  </div>
</mat-card>
